@{
    ViewBag.Title = "Garrison Lash Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   3008 Euclid Rd<br />
    Cleveland, OH 44118<br />
    <abbr title="Phone">P:</abbr>
    216.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gl155914@ohio.edu">gl155914@ohio.edu</a><br />
</address>