@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS4200</h2>
    <p> This is a sample site for MIS4200</p>
</div>

<div class="row">
    <div class="col-md-4"> 
        <h2>FIRST TITLE</h2>
        <p>
          The class is an intro to MVC development using scrum.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC TITLE 2</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TITLE 3</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>